body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-wrapper h2 {
  margin-bottom: 40px;
  color: #1a237e; 
  font-size: 16px;
  font-weight: normal;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 15px;
}

.login-form input {
  width: 250px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 2px;
}

.login-link {
  text-align: center;
  color: blue;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

.register-text, .forgot-password-text {
  font-size: 14px;
  color: #333;
}

.register-link, .forgot-password-link {
  color: blue;
  text-decoration: underline;
}
