.notification-page {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li div {
  display: flex;
  gap: 10px;
}